body {
  display: block;
}
h2 {
  color: black;
  position: relative;
  bottom: 60px;
  font-family: sans-serif;
  font-size: 60px;
  width: auto;
}

ul {
  position: relative;
  left: 60px;
}

li {
  position: relative;
  right: 100px;
  list-style-type: none;
  text-align: center;
  list-style: none;
  font-family: sans-serif;
}
li:first-letter {
  text-transform: capitalize;
}

form {
  position: relative;
  top: 40px;
}

.today {
  font-size: 25px;
  position: relative;
  top: 30px;
  left: 100px;
}

.currenttemp {
  position: relative;
  bottom: 60px;
}

#date {
  position: relative;
  margin-top: 80px;
}
#updated {
  position: relative;
  bottom: 60px;
}

.icon {
  height: 80px;
}

.today .active:hover {
  color: black;
  cursor: default;
  text-decoration: none;
}

p {
  position: relative;
  left: 120px;
}
.weather-forecast {
  margin-top: 10px;
  text-align: center;
  color: #000;
}

#weather-forecast-temperature-min {
  opacity: 0.5;
}
