body {
  display: block;
}
h2 {
  color: black;
  position: relative;
  bottom: 60px;
  font-family: sans-serif;
  font-size: 60px;
  width: auto;
}

ul {
  position: relative;
  left: 60px;
}

li {
  position: relative;
  right: 100px;
  list-style-type: none;
  text-align: center;
  list-style: none;
  font-family: sans-serif;
}
form {
  position: relative;
  top: 40px;
}

.weathericon {
  width: 80px;
  height: 80px;
  max-width: 100%;
}

.today {
  font-size: 25px;
  position: relative;
  top: 30px;
  left: 100px;
}

.currenttemp {
  position: relative;
  bottom: 60px;
}

#current-location {
  margin: 0 auto;
  position: relative;
  left: 200px;
  top: 8px;
  padding: 5px 10px;
  background-color: rgb(83, 83, 230);
  color: white;
  border-radius: 5px;
  border: 1px solid rgb(73, 73, 229);
  transition: all 200ms ease-in-out;
}
#current-location:hover {
  background: rgb(181, 169, 228);
  color: white;
}

.current-date {
  position: relative;
  bottom: 60px;
}
